<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../styles/style.css">
    <script language="javascript" type="text/javascript" src="../lib/p5.js"></script>
    <script language="javascript" type="text/javascript" src="../scripts/paths.js"></script>
  </head>
  
  <body>
    <div class=menuContainer>
      <div class="menu"><a href="../index.html">Draw image</a></div>
      <div class="menu"><a href="parametricLines.html">Parametric Lines</a></div>
      <div class="menu"><a href="polarCoordinates.html">Polar shapes</a></div>
      <div class="menu"><a href="equalizer.html">Equalizer</a></div>
      <div class="menu"><a href="dottedBrowser.html">Dotted browser</a></div>
      <div class="menu"><a href="paths.html">Paths</a></div>
    </div>
  </body>
</html>